.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
data/raw/*
data/interim/*
data/processed/*
data/external/*
outputs/tables/*
outputs/maps/*
outputs/charts/*
outputs/reports/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!outputs/tables/.gitkeep
!outputs/maps/.gitkeep
!outputs/charts/.gitkeep
!outputs/reports/.gitkeep
.DS_Store
